/* General Styles */
.home-page {
  background: rgb(224, 224, 224);
  background: linear-gradient(
    0deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
}

/* Banner Styles */
.banner {
  width: 100%;
  display: block;
}
